{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
    <h1>Marques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Nom</th>
                <th>Réserver</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>
                    <a href="{{ path('brand_show', {'id': brand.id}) }}">show</a>
                    <a href="{{ path('brand_edit', {'id': brand.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
