{% extends 'base.html.twig' %}

{% block title %}Editer Annonces{% endblock %}

{% block body %}
    <h1>Editer Annonces</h1>

    {{ include('advert/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('advert_index') }}">Retour à la liste</a>

    {{ include('advert/_delete_form.html.twig') }}
{% endblock %}
